*,html{
   box-sizing: border-box;
}
.div1{
    background-color: chartreuse;
    width: 300px;
    height: 200px;
    margin: 100px;
    border: 50px solid yellow;
    padding: 50px ;
    box-sizing: border-box;
}

.div2{
    background-color:chartreuse;
    width: 300px;
    height: 200px;
    margin: 100px;
    border: 50px solid yellow;
    padding: 50px;
   
}